<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Address</key>
	<dict>
		<key>21001</key>
		<string>SF1</string>
		<key>21002</key>
		<string>SF1</string>
		<key>21003</key>
		<string>SF1</string>
		<key>21004</key>
		<string>AddressIcon</string>
	</dict>
	<key>BatchOp</key>
	<dict>
		<key>27001</key>
		<string>ButtonHighLight</string>
		<key>27002</key>
		<string>SepLineNormal</string>
	</dict>
	<key>Cell</key>
	<dict>
		<key>10001</key>
		<string>BasicCell</string>
		<key>10002</key>
		<string>CellArrowIcon</string>
	</dict>
	<key>Contact</key>
	<dict>
		<key>16001</key>
		<string>ContactButton</string>
		<key>16002</key>
		<string>TelIcon</string>
		<key>16003</key>
		<string>WWIcon</string>
		<key>16004</key>
		<string>ContactLine</string>
	</dict>
	<key>Head</key>
	<dict>
		<key>14001</key>
		<string>HeadIcon</string>
		<key>14002</key>
		<string>ArrowIcon</string>
		<key>14003</key>
		<string>SF13</string>
		<key>14004</key>
		<string>SF12</string>
		<key>14006</key>
		<string>HeadCheck</string>
		<key>14007</key>
		<string>HeadUncheck</string>
		<key>14008</key>
		<string>HeadDisable</string>
		<key>14009</key>
		<string>SF4</string>
		<key>14010</key>
		<string>HeadCell</string>
	</dict>
	<key>Info</key>
	<dict>
		<key>23001</key>
		<string>SF4</string>
		<key>23002</key>
		<string>SF6</string>
		<key>23003</key>
		<string>ButtonCopy</string>
	</dict>
	<key>Item</key>
	<dict>
		<key>19001</key>
		<string>SF13</string>
		<key>19002</key>
		<string>SF4</string>
		<key>19003</key>
		<string>SF4</string>
		<key>19005</key>
		<string>ItemPic</string>
		<key>19006</key>
		<string>ItemCell</string>
		<key>19007</key>
		<string>ItemPriceSymbol</string>
		<key>19008</key>
		<string>ItemPriceInteger</string>
		<key>19009</key>
		<string>ItemPriceDecimal</string>
		<key>19010</key>
		<string>ItemPriceDecimal</string>
		<key>19011</key>
		<string>SF7</string>
		<key>19012</key>
		<string>ItemPriceDecimal</string>
		<key>19013</key>
		<string>ItemPriceDecimal</string>
		<key>19014</key>
		<string>SF7</string>
		<key>19015</key>
		<string>ItemOPriceSymbol</string>
		<key>19016</key>
		<string>ItemOPriceSymbol</string>
		<key>19017</key>
		<string>ItemOPriceInteger</string>
		<key>19018</key>
		<string>ItemOPriceDecimal</string>
	</dict>
	<key>Label</key>
	<dict>
		<key>12001</key>
		<string>SF1</string>
		<key>12002</key>
		<string>SF1</string>
		<key>12004</key>
		<string>SF1</string>
		<key>12005</key>
		<string>SF1</string>
		<key>12006</key>
		<string>SF1</string>
		<key>12007</key>
		<string>SF5</string>
		<key>12008</key>
		<string>SF5</string>
	</dict>
	<key>Logistic</key>
	<dict>
		<key>25001</key>
		<string>LogisticIcon</string>
		<key>25002</key>
		<string>SF9</string>
		<key>25003</key>
		<string>SF4</string>
	</dict>
	<key>Memo</key>
	<dict>
		<key>22001</key>
		<string>SF1</string>
		<key>22002</key>
		<string>SF1</string>
		<key>22003</key>
		<string>MemoIcon</string>
		<key>22004</key>
		<string>MemoArrow</string>
	</dict>
	<key>Operation</key>
	<dict>
		<key>24001</key>
		<string>ButtonNormal</string>
		<key>24002</key>
		<string>ButtonNormal</string>
		<key>24003</key>
		<string>ButtonHighLight</string>
		<key>24004</key>
		<string>ButtonMore</string>
		<key>24005</key>
		<string>SepLineNormal</string>
		<key>24006</key>
		<string>OperateCell</string>
	</dict>
	<key>Pay</key>
	<dict>
		<key>17001</key>
		<string>SF3</string>
		<key>17002</key>
		<string>PaySymbol</string>
		<key>17003</key>
		<string>PayInteger</string>
		<key>17004</key>
		<string>PayDecimal</string>
	</dict>
	<key>PayDetail</key>
	<dict>
		<key>15002</key>
		<string>SF3</string>
		<key>15003</key>
		<string>SF3</string>
		<key>15004</key>
		<string>SF1</string>
		<key>15005</key>
		<string>ActualSymbol</string>
		<key>15006</key>
		<string>ActualInteger</string>
		<key>15007</key>
		<string>ActualDecimal</string>
		<key>15008</key>
		<string>SF1</string>
	</dict>
	<key>PayDetailV2</key>
	<dict>
		<key>30002</key>
		<string>SF3</string>
		<key>30003</key>
		<string>SF3</string>
		<key>30004</key>
		<string>PaydetailUpwardArrowIcon</string>
		<key>30005</key>
		<string>PaydetailV2DetailAreaView</string>
	</dict>
	<key>SegmentControl</key>
	<dict>
		<key>31001</key>
		<string>SegmentControl</string>
	</dict>
	<key>Seller</key>
	<dict>
		<key>13001</key>
		<string>SellerCell</string>
		<key>13002</key>
		<string>ArrowIcon</string>
		<key>13003</key>
		<string>SF13</string>
	</dict>
	<key>SeparateLine</key>
	<dict>
		<key>20001</key>
		<string>SepLineNormal</string>
		<key>20002</key>
		<string>SepLineWithMargin</string>
		<key>20003</key>
		<string>SepLineSub</string>
		<key>20004</key>
		<string>SepLineBlank</string>
	</dict>
	<key>Status</key>
	<dict>
		<key>18001</key>
		<string>Title</string>
		<key>18002</key>
		<string>Title</string>
		<key>18003</key>
		<string>StatusIcon</string>
		<key>18004</key>
		<string>DetailStatus</string>
		<key>18005</key>
		<string></string>
		<key>18006</key>
		<string></string>
		<key>18007</key>
		<string></string>
	</dict>
	<key>Step</key>
	<dict>
		<key>26001</key>
		<string>StepItemView</string>
		<key>26002</key>
		<string>StepItemPrice</string>
		<key>26003</key>
		<string>StepItemPrice</string>
		<key>26004</key>
		<string>StepItemPrice</string>
		<key>26005</key>
		<string>SF10</string>
		<key>26006</key>
		<string>SF10</string>
		<key>26007</key>
		<string>SF6</string>
		<key>26008</key>
		<string>SF4</string>
		<key>26009</key>
		<string>SF4</string>
		<key>26010</key>
		<string>StepTipView</string>
		<key>26011</key>
		<string>StepCellView</string>
	</dict>
	<key>Tail</key>
	<dict>
		<key>29001</key>
		<string>SF1</string>
		<key>29002</key>
		<string>SF1</string>
		<key>29003</key>
		<string>SF11</string>
		<key>29004</key>
		<string>SF1</string>
		<key>29005</key>
		<string>SF3</string>
		<key>29006</key>
		<string>SF1</string>
		<key>29007</key>
		<string>SF3</string>
		<key>29008</key>
		<string>TailButtonNormal</string>
		<key>29009</key>
		<string>TailButtonHighLight</string>
		<key>29010</key>
		<string>ActualSymbol</string>
		<key>29011</key>
		<string>ActualInteger</string>
		<key>29012</key>
		<string>ActualDecimal</string>
		<key>29014</key>
		<string>SF8</string>
		<key>29015</key>
		<string>TailView</string>
	</dict>
	<key>ThemeStatus</key>
	<dict>
		<key>28001</key>
		<string>ThemeStatusIcon</string>
		<key>28002</key>
		<string>ThemeStatus</string>
		<key>28003</key>
		<string>ThemeStatusExtra</string>
		<key>28004</key>
		<string>ThemeStatusCell</string>
	</dict>
	<key>TimeOut</key>
	<dict>
		<key>11002</key>
		<string>SF8</string>
		<key>11003</key>
		<string>TimeOutCell</string>
	</dict>
</dict>
</plist>
