<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Button</key>
	<dict>
		<key>ButtonCopy</key>
		<dict>
			<key>backgroundDisabledColor</key>
			<string>#EEEEEE</string>
			<key>backgroundHighlightedColor</key>
			<string>#EEEEEE</string>
			<key>backgroundNormalColor</key>
			<string>#FFFFFF</string>
			<key>borderDisabledColor</key>
			<string>#EEEEEE</string>
			<key>borderDisabledWidth</key>
			<real>0.5</real>
			<key>borderHighlightedColor</key>
			<string>#CCCCCC</string>
			<key>borderHighlightedWidth</key>
			<real>0.5</real>
			<key>borderNormalColor</key>
			<string>#CCCCCC</string>
			<key>borderNormalWidth</key>
			<real>0.5</real>
			<key>cornerRadius</key>
			<integer>2</integer>
			<key>height</key>
			<integer>21</integer>
			<key>titleDisabledColor</key>
			<string>#CCCCCC</string>
			<key>titleDisabledFont</key>
			<integer>12</integer>
			<key>titleHighlightedColor</key>
			<string>#666666</string>
			<key>titleHighlightedFont</key>
			<integer>12</integer>
			<key>titleNormalColor</key>
			<string>#666666</string>
			<key>titleNormalFont</key>
			<integer>12</integer>
		</dict>
		<key>ButtonHighLight</key>
		<dict>
			<key>backgroundDisabledColor</key>
			<string>#EEEEEE</string>
			<key>backgroundHighlightedColor</key>
			<string>#C40000</string>
			<key>backgroundNormalColor</key>
			<string>#FFFFFF</string>
			<key>borderDisabledColor</key>
			<string>#EEEEEE</string>
			<key>borderDisabledWidth</key>
			<integer>1</integer>
			<key>borderHighlightedColor</key>
			<string>#C40000</string>
			<key>borderHighlightedWidth</key>
			<integer>1</integer>
			<key>borderNormalColor</key>
			<string>#DD2727</string>
			<key>borderNormalWidth</key>
			<real>0.5</real>
			<key>cornerRadius</key>
			<integer>2</integer>
			<key>height</key>
			<integer>27</integer>
			<key>titleDisabledColor</key>
			<string>#CCCCCC</string>
			<key>titleDisabledFont</key>
			<integer>13</integer>
			<key>titleHighlightedColor</key>
			<string>#FFFFFF</string>
			<key>titleHighlightedFont</key>
			<integer>13</integer>
			<key>titleNormalColor</key>
			<string>#dd2727</string>
			<key>titleNormalFont</key>
			<integer>13</integer>
			<key>width</key>
			<integer>75</integer>
		</dict>
		<key>ButtonMore</key>
		<dict>
			<key>height</key>
			<integer>27</integer>
			<key>titleDisabledColor</key>
			<string>#CCCCCC</string>
			<key>titleDisabledFont</key>
			<integer>13</integer>
			<key>titleHighlightedColor</key>
			<string>#3d4244</string>
			<key>titleHighlightedFont</key>
			<integer>13</integer>
			<key>titleNormalColor</key>
			<string>#3d4244</string>
			<key>titleNormalFont</key>
			<integer>13</integer>
		</dict>
		<key>ButtonNormal</key>
		<dict>
			<key>backgroundDisabledColor</key>
			<string>#EEEEEE</string>
			<key>backgroundHighlightedColor</key>
			<string>#EEEEEE</string>
			<key>backgroundNormalColor</key>
			<string>#FFFFFF</string>
			<key>borderDisabledColor</key>
			<string>#EEEEEE</string>
			<key>borderDisabledWidth</key>
			<real>0.5</real>
			<key>borderHighlightedColor</key>
			<string>#999999</string>
			<key>borderHighlightedWidth</key>
			<real>0.5</real>
			<key>borderNormalColor</key>
			<string>#BABABA</string>
			<key>borderNormalWidth</key>
			<real>0.5</real>
			<key>cornerRadius</key>
			<integer>2</integer>
			<key>height</key>
			<integer>27</integer>
			<key>titleDisabledColor</key>
			<string>#CCCCCC</string>
			<key>titleDisabledFont</key>
			<integer>13</integer>
			<key>titleHighlightedColor</key>
			<string>#3d4244</string>
			<key>titleHighlightedFont</key>
			<integer>13</integer>
			<key>titleNormalColor</key>
			<string>#3d4244</string>
			<key>titleNormalFont</key>
			<integer>13</integer>
		</dict>
		<key>ContactButton</key>
		<dict>
			<key>titleDisabledFont</key>
			<integer>14</integer>
			<key>titleHighlightedFont</key>
			<integer>14</integer>
			<key>titleNormalColor</key>
			<string>#666666</string>
			<key>titleNormalFont</key>
			<integer>14</integer>
		</dict>
		<key>TailButtonHighLight</key>
		<dict>
			<key>backgroundHighlightedColor</key>
			<string>#C40000</string>
			<key>backgroundNormalColor</key>
			<string>#DD2727</string>
			<key>titleHighlightedColor</key>
			<string>#FFFFFF</string>
			<key>titleHighlightedFont</key>
			<integer>16</integer>
			<key>titleNormalColor</key>
			<string>#FFFFFF</string>
			<key>titleNormalFont</key>
			<integer>16</integer>
		</dict>
		<key>TailButtonNormal</key>
		<dict>
			<key>backgroundNormalColor</key>
			<string>#EEEEEE</string>
			<key>titleHighlightedColor</key>
			<string>#D5D3D4</string>
			<key>titleHighlightedFont</key>
			<integer>16</integer>
			<key>titleNormalColor</key>
			<string>#D5D3D4</string>
			<key>titleNormalFont</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>Cell</key>
	<dict>
		<key>BasicCell</key>
		<dict>
			<key>lineSpace</key>
			<integer>4</integer>
			<key>marginX</key>
			<integer>12</integer>
			<key>marginY</key>
			<integer>10</integer>
		</dict>
		<key>HeadCell</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>ItemCell</key>
		<dict>
			<key>backgroundColor</key>
			<string>#f5f5f5</string>
			<key>lineSpace</key>
			<integer>4</integer>
			<key>marginX</key>
			<integer>12</integer>
			<key>marginY</key>
			<integer>10</integer>
		</dict>
		<key>OperateCell</key>
		<dict>
			<key>height</key>
			<integer>50</integer>
		</dict>
		<key>SellerCell</key>
		<dict>
			<key>height</key>
			<integer>17</integer>
		</dict>
		<key>TailView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ffffff</string>
		</dict>
		<key>ThemeStatusCell</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ee0a3b</string>
			<key>height</key>
			<integer>120</integer>
			<key>marginLeft</key>
			<string>40</string>
			<key>marginRight</key>
			<integer>10</integer>
			<key>paddingRight</key>
			<string>20</string>
		</dict>
		<key>TimeOutCell</key>
		<dict>
			<key>backgroundColor</key>
			<string>#f9f9f9</string>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>DetailStatus</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>LogisticMessage</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#359A2B</string>
		</dict>
		<key>LogisticTime</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>PayLabel</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>RefundStatus</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#f2a841</string>
		</dict>
		<key>Status</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>StepDes</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>StepStatus</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
		<key>StepStatusHighlight</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>SubTitle</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>ThemeStatus</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#ffffff</string>
		</dict>
		<key>ThemeStatusExtra</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#ffffff</string>
		</dict>
		<key>TimeOutTitle</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#F5A623</string>
		</dict>
		<key>Title</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
	</dict>
	<key>IconFont</key>
	<dict>
		<key>AddressIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue65c</string>
			<key>iconFontColor</key>
			<string>#5F646E</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>ArrowIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue635</string>
			<key>iconFontColor</key>
			<string>#666666</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>14</integer>
		</dict>
		<key>CellArrowIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue635</string>
			<key>iconFontColor</key>
			<string>#666666</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>18</integer>
		</dict>
		<key>HeadCheck</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue62a</string>
			<key>iconFontColor</key>
			<string>#dd2727</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>HeadDisable</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue650</string>
			<key>iconFontColor</key>
			<string>#d0d0d0</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>HeadUncheck</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue650</string>
			<key>iconFontColor</key>
			<string>#999999</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>LogisticIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue65f</string>
			<key>iconFontColor</key>
			<string>#359A2B</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>MemoArrow</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue63f</string>
			<key>iconFontColor</key>
			<string>#5F646E</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>14</integer>
		</dict>
		<key>MemoIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue616</string>
			<key>iconFontColor</key>
			<string>#5F646E</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>StatusIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue658</string>
			<key>iconFontColor</key>
			<string>#5F646E</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>TelIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue652</string>
			<key>iconFontColor</key>
			<string>#00A6FF</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
		<key>WWIcon</key>
		<dict>
			<key>iconFontCode</key>
			<string>\ue60a</string>
			<key>iconFontColor</key>
			<string>#00A6FF</string>
			<key>iconFontFamilyName</key>
			<string>tm_iconfont</string>
			<key>iconFontSize</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>Item</key>
	<dict>
		<key>ItemPic</key>
		<dict>
			<key>height</key>
			<integer>96</integer>
		</dict>
	</dict>
	<key>Price</key>
	<dict>
		<key>ActualDecimal</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>ActualInteger</key>
		<dict>
			<key>fontSize</key>
			<integer>16</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>ActualSymbol</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>ItemOPriceDecimal</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>ItemOPriceInteger</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>ItemOPriceSymbol</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>ItemPriceDecimal</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>ItemPriceInteger</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>ItemPriceSymbol</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>PayDecimal</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>PayInteger</key>
		<dict>
			<key>fontSize</key>
			<integer>16</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>PaySymbol</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>StepItemPrice</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
	</dict>
	<key>SepLine</key>
	<dict>
		<key>SepLineBlank</key>
		<dict>
			<key>backgroundColor</key>
			<string>#eeeeee</string>
			<key>height</key>
			<integer>9</integer>
		</dict>
		<key>SepLineNormal</key>
		<dict>
			<key>alpha</key>
			<real>0.10000000000000001</real>
			<key>backgroundColor</key>
			<string>#000000</string>
		</dict>
		<key>SepLineSub</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ffffff</string>
			<key>height</key>
			<integer>3</integer>
		</dict>
		<key>SepLineWithMargin</key>
		<dict>
			<key>alpha</key>
			<real>0.10000000000000001</real>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>marginX</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>StyleFont</key>
	<dict>
		<key>SF1</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#666666</string>
		</dict>
		<key>SF10</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#051B28</string>
		</dict>
		<key>SF11</key>
		<dict>
			<key>fontSize</key>
			<integer>16</integer>
			<key>textColor</key>
			<string>#051B28</string>
		</dict>
		<key>SF12</key>
		<dict>
			<key>fontSize</key>
			<string>13</string>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>SF13</key>
		<dict>
			<key>fontSize</key>
			<string>13</string>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>SF2</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>SF3</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#3d4244</string>
		</dict>
		<key>SF4</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#999999</string>
		</dict>
		<key>SF5</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>SF6</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#dd2727</string>
		</dict>
		<key>SF7</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>textColor</key>
			<string>#f2a841</string>
		</dict>
		<key>SF8</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#FFA800</string>
		</dict>
		<key>SF9</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>textColor</key>
			<string>#359A2B</string>
		</dict>
	</dict>
	<key>View</key>
	<dict>
		<key>ContactLine</key>
		<dict>
			<key>alpha</key>
			<real>0.10000000000000001</real>
			<key>backgroundColor</key>
			<string>#000000</string>
		</dict>
		<key>HeadIcon</key>
		<dict>
			<key>height</key>
			<integer>17</integer>
		</dict>
		<key>PaydetailUpwardArrowIcon</key>
		<dict>
			<key>height</key>
			<string>7</string>
			<key>width</key>
			<string>13</string>
		</dict>
		<key>PaydetailV2DetailAreaView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#fdfdfd</string>
		</dict>
		<key>SegmentControl</key>
		<dict>
			<key>titleHighlightedColor</key>
			<string>#FF5000</string>
			<key>titleNormalColor</key>
			<string>#3D4245</string>
			<key>titleNormalFont</key>
			<integer>16</integer>
		</dict>
		<key>StepItemView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ffffff</string>
			<key>lineSpace</key>
			<integer>4</integer>
			<key>marginX</key>
			<integer>12</integer>
			<key>marginY</key>
			<integer>10</integer>
		</dict>
		<key>StepTipView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#dd2727</string>
		</dict>
		<key>ThemeStatusIcon</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>width</key>
			<integer>168</integer>
		</dict>
	</dict>
</dict>
</plist>
