<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bizName</key>
	<string>msoa.taobao.detail</string>
	<key>services</key>
	<array>
		<dict>
			<key>serviceId</key>
			<string>msoa.taobao.detail.showsku</string>
			<key>version</key>
			<string>1.0</string>
			<key>provider</key>
			<dict>
				<key>className</key>
				<string>AliTradeSkuEngine</string>
				<key>func</key>
				<string>showSkuWithItemId:actionType:success:</string>
				<key>funcType</key>
				<string>object</string>
			</dict>
			<key>params</key>
			<array>
				<dict>
					<key>name</key>
					<string>itemId</string>
					<key>type</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>name</key>
					<string>actionType</string>
					<key>type</key>
					<string>NSInteger</string>
				</dict>
				<dict>
					<key>name</key>
					<string>successHandler</string>
					<key>type</key>
					<string>MSOAServiceSuccessHandler</string>
				</dict>
			</array>
			<key>targetPlatforms</key>
			<array>
				<string>native</string>
				<string>weex</string>
			</array>
			<key>result</key>
			<array>
				<dict>
					<key>name</key>
					<string>itemId</string>
					<key>type</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>name</key>
					<string>skuId</string>
					<key>type</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>name</key>
					<string>quantity</string>
					<key>type</key>
					<string>NSString</string>
				</dict>
				<dict>
					<key>name</key>
					<string>resultCode</string>
					<key>type</key>
					<string>NSString</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>serviceId</key>
			<string>msoa.taobao.detail.addCart</string>
			<key>version</key>
			<string>1.0</string>
			<key>provider</key>
			<dict>
				<key>className</key>
				<string>AliTradeSkuEngine</string>
				<key>func</key>
				<string>addCart:detailModel:</string>
				<key>funcType</key>
				<string>class</string>
			</dict>
			<key>params</key>
			<array>
				<dict>
					<key>name</key>
					<string>quantity</string>
					<key>type</key>
					<string>NSInteger</string>
				</dict>
				<dict>
					<key>name</key>
					<string>detailModel</string>
					<key>type</key>
					<string>AliDetailModel</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>serviceId</key>
			<string>msoa.taobao.detail.cartParams</string>
			<key>version</key>
			<string>1.0</string>
			<key>provider</key>
			<dict>
				<key>className</key>
				<string>AliTradeSkuEngine</string>
				<key>func</key>
				<string>createCartParams:detailModel:successHandler:failureHandler:</string>
				<key>funcType</key>
				<string>class</string>
			</dict>
			<key>params</key>
			<array>
				<dict>
					<key>name</key>
					<string>quantity</string>
					<key>type</key>
					<string>NSInteger</string>
				</dict>
				<dict>
					<key>name</key>
					<string>detailModel</string>
					<key>type</key>
					<string>AliDetailModel</string>
				</dict>
				<dict>
					<key>name</key>
					<string>successHandler</string>
					<key>type</key>
					<string>MSOAServiceSuccessHandler</string>
				</dict>
				<dict>
					<key>name</key>
					<string>failureHandler</string>
					<key>type</key>
					<string>MSOAServiceFailureHandler</string>
				</dict>
			</array>
			<key>result</key>
			<dict>
				<key>name</key>
				<string>params</string>
				<key>type</key>
				<string>NSDictionary</string>
			</dict>
		</dict>
		<dict>
			<key>serviceId</key>
			<string>msoa.taobao.detail.buyUrl</string>
			<key>version</key>
			<string>1.0</string>
			<key>provider</key>
			<dict>
				<key>className</key>
				<string>AliTradeSkuEngine</string>
				<key>func</key>
				<string>buildOrderUrl:detailModel:successHandler:failureHandler:</string>
				<key>funcType</key>
				<string>class</string>
			</dict>
			<key>params</key>
			<array>
				<dict>
					<key>name</key>
					<string>quantity</string>
					<key>type</key>
					<string>NSInteger</string>
				</dict>
				<dict>
					<key>name</key>
					<string>detailModel</string>
					<key>type</key>
					<string>AliDetailModel</string>
				</dict>
				<dict>
					<key>name</key>
					<string>successHandler</string>
					<key>type</key>
					<string>MSOAServiceSuccessHandler</string>
				</dict>
				<dict>
					<key>name</key>
					<string>failureHandler</string>
					<key>type</key>
					<string>MSOAServiceFailureHandler</string>
				</dict>
			</array>
			<key>result</key>
			<dict>
				<key>name</key>
				<string>url</string>
				<key>type</key>
				<string>NSString</string>
			</dict>
		</dict>
		<dict>
			<key>serviceId</key>
			<string>msoa.taobao.detail.buyParams</string>
			<key>version</key>
			<string>1.0</string>
			<key>provider</key>
			<dict>
				<key>className</key>
				<string>AliTradeSkuEngine</string>
				<key>func</key>
				<string>createBuyParams:detailModel:successHandler:failureHandler:</string>
				<key>funcType</key>
				<string>class</string>
			</dict>
			<key>params</key>
			<array>
				<dict>
					<key>name</key>
					<string>quantity</string>
					<key>type</key>
					<string>NSInteger</string>
				</dict>
				<dict>
					<key>name</key>
					<string>detailModel</string>
					<key>type</key>
					<string>AliDetailModel</string>
				</dict>
				<dict>
					<key>name</key>
					<string>successHandler</string>
					<key>type</key>
					<string>MSOAServiceSuccessHandler</string>
				</dict>
				<dict>
					<key>name</key>
					<string>failureHandler</string>
					<key>type</key>
					<string>MSOAServiceFailureHandler</string>
				</dict>
			</array>
			<key>result</key>
			<dict>
				<key>name</key>
				<string>params</string>
				<key>type</key>
				<string>NSDictionary</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
